@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #000;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
}